<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dutycode.chatchatmain"
    android:versionCode="2"
    android:versionName="1.1.20130426" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/chatchat"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dutycode.chatchatmain.LoadActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.dutycode.chatchatmain.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
        <activity
            android:name="com.dutycode.chatchatmain.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
        <activity
            android:name="com.dutycode.chatchatmain.ChatActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
        <activity
            android:name="com.dutycode.chatchatmain.HistoryMessageActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
        <activity
            android:name="com.dutycode.chatchatmain.RegActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
        <activity
            android:name="com.dutycode.chatchatmain.SearchUserActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
        <activity
            android:name="com.dutycode.chatchatmain.ExDialog"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
        
        
        
        
        
        
        
        
        <!-- 测试Demo -->
        <activity
            android:name="com.dutycode.chatchatmain.DemoActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>
    </application>

</manifest>